# Google Apps Script Web App URL that returns [{ key, value }, ...]
# Deploy your Google Apps Script as a Web App ("Anyone" access) and paste the /exec URL here.
VITE_GOOGLE_SHEET_API_URL=https://script.google.com/macros/s/xxxxxxxx/exec
